label {width: 200px; float: left; clear: left; margin-bottom: 10px;}
input {float: left; margin-bottom: 10px;}
select {float: left; margin-bottom: 10px; clear: right;}
textarea{float: left; margin-bottom: 10px; clear: right;}
input[type="submit"] { clear: both; }


